:root {
  --color-slate: #434455;
  --color-navyblue: #2e2f42;
  --color-white: #ffffff;
  --color-iris: #4d5ae5;
  --color-cloud: #f4f4fd;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-ligth-slate: #8e8f99;
  --color-corn-flower: #e7e9fc;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-dairy: #fcfcfc;
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*=======================BASE STYLE================*/

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

button {
  font-family: inherit;
  cursor: pointer;
}
/*------RESET STYLE------*/
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/*------RESET end------*/

/*===============component styles====================*/
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1194px;
  outline: 2px solid red;
}

.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*----------------------------------header*/

.container_header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header_navigation_logo,
.footer_navigation_logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17; /* 116.667% 21px*/
  letter-spacing: 0.03em; /*0.54px*/
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}

.header_navigation_logo_second {
  color: var(--navyblue, #2e2f42);
}

.header_menu_link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% 24px*/
  letter-spacing: 0.02em; /* 0.32px */
}
.header_menu_link:hover {
  /*color: var(--ocean, #404bbf);*/
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #404bbf;
}

.header_menu_link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address_menu_mail_tel {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% 24px*/
  letter-spacing: 0.02em; /* 0.32px */
}

.address_menu_mail_tel:hover {
  color: var(--ocean, #404bbf);
}
.address_menu_mail_tel:focus {
  color: var(--ocean, #404bbf);
}

/*-------------------------------section class hero*/
.hero {
}
.hero_wrap {
  background: var(--navyblue, #2e2f42);
  padding: 188px 472px 292px 472px;
}
.hero_title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em; /*1.12px*/
  margin-bottom: 48px;
}
.hero_btn {
  color: var(--white, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 0.5;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  background-color: #4d5ae5;
}
.hero_btn:hover {
  background: var(--ocean, #404bbf);
}

.hero_btn:focus {
  background-color: #404bbf;
}
/*-------------------------------motivation*/

.motivation {
  padding-top: 120px;
}
.motivation_subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}
.motivatiom_item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*-------------------------------we_doing*/
.we_doing {
  padding-top: 120px;
}
.we_doing_subtitle {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 323px;
  margin: 0 auto;
  margin-bottom: 72px;
}

/*-------------------------------team*/

.container_team {
  background: var(--cloud, #f4f4fd);
}
.team {
  padding-top: 120px;
}
.team_our {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 162px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 72px;
}

.team_item {
  background: var(--white, #fff);
}
.team_subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  font-weight: 500;
}
.team_text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*-------------------------------footer*/
.footer {
  background: var(--navyblue, #2e2f42);
}
.footer_navigation_logo_second {
  color: var(--cloud, #f4f4fd);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
.footer_text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*-------------------------------portfolio*/

.button_nav_site {
  color: var(--iris, #4d5ae5);

  font-family: inherit;
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  cursor: pointer;
}

.button_nav_site:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.button_nav_site:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.conteiner_portfolio_subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  font-weight: 500;
}
.conteiner_portfolio_text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
